<div class="container" id="aboutContainer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 text-center">
                <h2 id="aboutTitle">About Me</h2>
            </div>
            <div class="col-sm-2 text-center">
            </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 justify-content-center align-self-center text-center">
                <img src="../../../assets/images/about/profile.png" alt="profile picture">
            </div>
            <div class="col-sm-9" id="aboutP">Since learning to code as a hobby, I have been to university to study a masters degree in Computer Science and completed a 13-week bootcamp in fullstack development.
                <br><br> I enjoy problem solving and making creative solutions and aim to always write as efficient code as possible. <br><br> I have often used Express when writing a backend in JavaScript and Flask when writing in Python. <br><br> For frontend, I often use either EJS for smaller projects or React for larger collaborative projects, both with BootStrap for responsive design. <br><br> The databases I have used with JavaScript are noSQL (MongoDB) and SQL (PostgreSQL). With Python, I have used SQL (SQL Alchamey). <br><br>This portfolio was made using Angular to learn the framework and dabble in TypeScript and does not require a backend.
            </div>
    </div>
</div>
