<div id="pageBody">
<div class="row display d-flex">
    <div class="col-sm-2 text-center justify-content-center align-self-center" id="titleRow">
        <img src="{{projectChosen.framework}}" alt="framework-logo" id="frameworkLogo">
    </div>
    <div class="col-sm-10" id="titleRow">
        <h1 id="projectDisplayTitle">{{projectChosen.title}}</h1> 
    </div>
</div>

<div class="container" id="descriptionDiv">
    <div class="row text-center">
        <div class="col-sm-12">
            {{projectChosen.description}}
        </div>
    </div>
</div>

<div class="container">

    <div *ngIf="projectChosen.url" class="row text-center" id="linksRow">
        <div class="col-sm-6">
            <button id="externalLinksBtn"><a href="{{projectChosen.url}}" target="_blank">Live Site</a></button>
        </div>
        <div class="col-sm-6">
            <button id="externalLinksBtn"><a href="{{projectChosen.GitHub}}" target="_blank">GitHub</a></button> 
        </div>
    </div>

    <div *ngIf="!projectChosen.url" class="row text-center" id="linksRow">
        <div class="col-sm-12">
            <button id="externalLinksBtn"><a href="{{projectChosen.GitHub}}" target="_blank">GitHub</a></button> 
        </div>
    </div>
</div>


<div class="pillsContainer" style="margin: 30px;">
    <div class="row text-center" id="linksRow">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-images-tab" data-toggle="pill" href="#pills-images" role="tab"
                aria-controls="pills-images" aria-selected="true">Images</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-code-tab" data-toggle="pill" href="#pills-code" role="tab"
                aria-controls="pills-code" aria-selected="false">Code Extracts</a>
            </li>
          </ul>
          <div class="tab-content pt-2 pl-1" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-images" role="tabpanel" aria-labelledby="pills-images-tab">
            <div *ngFor="let screenshot of projectChosen.screenshot; let i = index" class="row text-center d-flex" id="screenshotRow2">
                <div *ngIf="i % 2 == 0; else elseBlock" class="row text-center d-flex" id="screenshotRow">
                    <div class="col-sm-6" id="imagesCol">
                        <img src="{{screenshot[1]}}" alt="screenshot of app" id="projectImg">
                    </div>
                    <div class="col-sm-6 justify-content-center align-self-center" id="imagesColR">
                        {{screenshot[0]}}
                    </div>
                </div> 
                <ng-template #elseBlock class="row text-center" id="screenshotRow2">
                    <div class="col-sm-6 justify-content-center align-self-center" id="imagesColL">
                        {{screenshot[0]}}
                    </div>
                    <div class="col-sm-6" id="imagesCol">
                        <img src="{{screenshot[1]}}" alt="screenshot of app" id="projectImg"> 
                    </div>
                </ng-template>
            </div> 
            </div> 
            <div class="tab-pane fade" id="pills-code" role="tabpanel" aria-labelledby="pills-code-tab">
                <div *ngFor="let code of projectChosen.code; let j = index" class="row text-center d-flex">
                    <div *ngIf="j % 2 == 0; else elseBlock" class="row text-center d-flex" id="screenshotRow2">
                        <div class="col-sm-6 justify-content-center align-self-center" id="imagesColL">
                            {{code[0]}}
                        </div>
                        <div class="col-sm-6" id="imagesCol">
                            <img src="{{code[1]}}" alt="code extract" id="projectImg">
                        </div>
                    </div> 
                    <ng-template #elseBlock class="row text-center" id="screenshotRow">  
                        <div class="col-sm-6" id="imagesCol">
                            <img src="{{code[1]}}" alt="code extract" id="projectImg"> 
                        </div>
                        <div class="col-sm-6 justify-content-center align-self-center" id="imagesColR">
                            {{code[0]}}
                        </div>
                    </ng-template>

                </div>      
            </div>
          </div>
      </div> 
</div>


<!-- <div class="pillsContainer" style="margin: 30px;">
    
    <div class="row text-center" id="linksRow">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-images-tab" data-toggle="pill" href="#pills-images" role="tab"
                aria-controls="pills-images" aria-selected="true">Images</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-code-tab" data-toggle="pill" href="#pills-code" role="tab"
                aria-controls="pills-code" aria-selected="false">Code Extracts</a>
            </li>
          </ul>
          <div class="tab-content pt-2 pl-1" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-images" role="tabpanel" aria-labelledby="pills-images-tab">
                <div *ngIf="projectChosen.screenshot1" class="row text-center d-flex" id="screenshotRow">
                    <div class="col-sm-6" id="imagesCol">
                        <img src="{{projectChosen.screenshot1}}" alt="" id="projectImg"> 
                    </div>
                    <div class="col-sm-6 justify-content-center align-self-center" id="imagesColR">
                        {{projectChosen.screenshot1Description}}
                    </div>
                </div>
                <div *ngIf="projectChosen.screenshot2" class="row text-center" id="screenshotRow2">
                    <div class="col-sm-6 justify-content-center align-self-center" id="imagesColL">
                        {{projectChosen.screenshot2Description}}
                    </div>
                    <div class="col-sm-6" id="imagesCol">
                        <img src="{{projectChosen.screenshot2}}" alt="" id="projectImg"> 
                    </div>
                </div>
                <div *ngIf="projectChosen.screenshot3" class="row text-center" id="screenshotRow">
                    <div class="col-sm-6" id="imagesCol">
                        <img src="{{projectChosen.screenshot3}}" alt="" id="projectImg"> 
                    </div>
                    <div class="col-sm-6 justify-content-center align-self-center" id="imagesColR">
                        {{projectChosen.screenshot3Description}}
                    </div>
                </div>
                <div *ngIf="projectChosen.screenshot4" class="row text-center" id="screenshotRow2">
                    <div class="col-sm-6 justify-content-center align-self-center" id="imagesColL">
                        {{projectChosen.screenshot4Description}}
                    </div>
                    <div class="col-sm-6" id="imagesCol">
                        <img src="{{projectChosen.screenshot4}}" alt="" id="projectImg"> 
                    </div>
                </div>
                <div *ngIf="projectChosen.screenshot5" class="row text-center" id="screenshotRow">
                    <div class="col-sm-6" id="imagesCol">
                        <img src="{{projectChosen.screenshot5}}" alt="" id="projectImg"> 
                    </div>
                    <div class="col-sm-6 justify-content-center align-self-center" id="imagesColR">
                        {{projectChosen.screenshot5Description}}
                    </div>
                </div>
                <div *ngIf="projectChosen.screenshot6" class="row text-center" id="screenshotRow2">
                    <div class="col-sm-6 justify-content-center align-self-center" id="imagesColL">
                        {{projectChosen.screenshot6Description}}
                    </div>
                    <div class="col-sm-6" id="imagesCol">
                        <img src="{{projectChosen.screenshot6}}" alt="" id="projectImg"> 
                    </div>
                </div>
                <div *ngIf="projectChosen.screenshot7" class="row text-center" id="screenshotRow">
                    <div class="col-sm-6" id="imagesCol">
                        <img src="{{projectChosen.screenshot7}}" alt="" id="projectImg"> 
                    </div>
                    <div class="col-sm-6 justify-content-center align-self-center" id="imagesColR">
                        {{projectChosen.screenshot7Description}}
                    </div>
                </div>
                <div *ngIf="projectChosen.screenshot8" class="row text-center" id="screenshotRow2">
                    <div class="col-sm-6 justify-content-center align-self-center" id="imagesColL">
                        {{projectChosen.screenshot8Description}}
                    </div>
                    <div class="col-sm-6" id="imagesCol">
                        <img src="{{projectChosen.screenshot8}}" alt="" id="projectImg"> 
                    </div>
                </div>
                <div *ngIf="projectChosen.screenshot9" class="row text-center" id="screenshotRow">
                    <div class="col-sm-6" id="imagesCol">
                        <img src="{{projectChosen.screenshot9}}" alt="" id="projectImg"> 
                    </div>
                    <div class="col-sm-6 justify-content-center align-self-center" id="imagesColR">
                        {{projectChosen.screenshot9Description}}
                    </div>
                </div>
                <div *ngIf="projectChosen.screenshot9" class="row text-center" id="screenshotRow2">
                    <div class="col-sm-6 justify-content-center align-self-center" id="imagesColL">
                        {{projectChosen.screenshot10Description}}
                    </div>
                    <div class="col-sm-6" id="imagesCol">
                        <img src="{{projectChosen.screenshot10}}" alt="" id="projectImg"> 
                    </div>
                </div>
                <div *ngIf="projectChosen.screenshot11" class="row text-center" id="screenshotRow">
                    <div class="col-sm-6" id="imagesCol">
                        <img src="{{projectChosen.screenshot11}}" alt="" id="projectImg"> 
                    </div>
                    <div class="col-sm-6 justify-content-center align-self-center" id="imagesColR">
                        {{projectChosen.screenshot11Description}}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-code" role="tabpanel" aria-labelledby="pills-code-tab">
                <div *ngIf="projectChosen.code1" class="row text-center d-flex" id="screenshotRow2">
                    <div class="col-sm-6 justify-content-center align-self-center" id="imagesColL">
                        {{projectChosen.code1Description}}
                    </div>
                    <div class="col-sm-6" id="imagesCol">
                        <img src="{{projectChosen.code1}}" alt="" id="projectImg"> 
                    </div>
                </div>
                <div *ngIf="projectChosen.code2" class="row text-center" id="screenshotRow">                    
                    <div class="col-sm-6" id="imagesCol">
                        <img src="{{projectChosen.code2}}" alt="" id="projectImg"> 
                    </div>
                    <div class="col-sm-6 justify-content-center align-self-center" id="imagesColR">
                        {{projectChosen.code2Description}}
                    </div>
                </div>
                <div *ngIf="projectChosen.code3" class="row text-center" id="screenshotRow2">                    
                    <div class="col-sm-6 justify-content-center align-self-center" id="imagesColL">
                        {{projectChosen.code3Description}}
                    </div>
                    <div class="col-sm-6" id="imagesCol">
                        <img src="{{projectChosen.code3}}" alt="" id="projectImg"> 
                    </div>
                </div>
                <div *ngIf="projectChosen.code4" class="row text-center" id="screenshotRow">                    
                    <div class="col-sm-6" id="imagesCol">
                        <img src="{{projectChosen.code4}}" alt="" id="projectImg"> 
                    </div>
                    <div class="col-sm-6 justify-content-center align-self-center" id="imagesColR">
                        {{projectChosen.code4Description}}
                    </div>
                </div>
                <div *ngIf="projectChosen.code5" class="row text-center" id="screenshotRow2">                    
                    <div class="col-sm-6 justify-content-center align-self-center" id="imagesColL">
                        {{projectChosen.code5Description}}
                    </div>
                    <div class="col-sm-6" id="imagesCol">
                        <img src="{{projectChosen.code5}}" alt="" id="projectImg"> 
                    </div>
                </div>
                <div *ngIf="projectChosen.code6" class="row text-center" id="screenshotRow">                    
                    <div class="col-sm-6" id="imagesCol">
                        <img src="{{projectChosen.code6}}" alt="" id="projectImg"> 
                    </div>
                    <div class="col-sm-6 justify-content-center align-self-center" id="imagesColR">
                        {{projectChosen.code6Description}}
                    </div>
                </div>
                <div *ngIf="projectChosen.code7" class="row text-center" id="screenshotRow2">                    
                    <div class="col-sm-6 justify-content-center align-self-center" id="imagesColL">
                        {{projectChosen.code7Description}}
                    </div>
                    <div class="col-sm-6" id="imagesCol">
                        <img src="{{projectChosen.code7}}" alt="" id="projectImg"> 
                    </div>
                </div>
                <div *ngIf="projectChosen.code8" class="row text-center" id="screenshotRow">                    
                    <div class="col-sm-6" id="imagesCol">
                        <img src="{{projectChosen.code8}}" alt="" id="projectImg"> 
                    </div>
                    <div class="col-sm-6 justify-content-center align-self-center" id="imagesColR">
                        {{projectChosen.code8Description}}
                    </div>
                </div>
                <div *ngIf="projectChosen.code9" class="row text-center" id="screenshotRow2">                    
                    <div class="col-sm-6 justify-content-center align-self-center" id="imagesColL">
                        {{projectChosen.code9Description}}
                    </div>
                    <div class="col-sm-6" id="imagesCol">
                        <img src="{{projectChosen.code9}}" alt="" id="projectImg"> 
                    </div>
                </div>
                <div *ngIf="projectChosen.code10" class="row text-center" id="screenshotRow">                    
                    <div class="col-sm-6" id="imagesCol">
                        <img src="{{projectChosen.code10}}" alt="" id="projectImg"> 
                    </div>
                    <div class="col-sm-6 justify-content-center align-self-center" id="imagesColR">
                        {{projectChosen.code10Description}}
                    </div>
                </div>
                <div *ngIf="projectChosen.code11" class="row text-center" id="screenshotRow2">                    
                    <div class="col-sm-6 justify-content-center align-self-center" id="imagesColL">
                        {{projectChosen.code11Description}}
                    </div>
                    <div class="col-sm-6" id="imagesCol">
                        <img src="{{projectChosen.code11}}" alt="" id="projectImg"> 
                    </div>
                </div>
                <div *ngIf="projectChosen.code12" class="row text-center" id="screenshotRow">                    
                    <div class="col-sm-6" id="imagesCol">
                        <img src="{{projectChosen.code12}}" alt="" id="projectImg"> 
                    </div>
                    <div class="col-sm-6 justify-content-center align-self-center" id="imagesColR">
                        {{projectChosen.code12Description}}
                    </div>
                    <div *ngIf="projectChosen.code13" class="row text-center" id="screenshotRow2">                    
                        <div class="col-sm-6 justify-content-center align-self-center" id="imagesColL">
                            {{projectChosen.code13Description}}
                        </div>
                        <div class="col-sm-6" id="imagesCol">
                            <img src="{{projectChosen.code13}}" alt="" id="projectImg"> 
                        </div>
                    </div>
                    <div *ngIf="projectChosen.code14" class="row text-center" id="screenshotRow">                    
                        <div class="col-sm-6" id="imagesCol">
                            <img src="{{projectChosen.code14}}" alt="" id="projectImg"> 
                        </div>
                        <div class="col-sm-6 justify-content-center align-self-center" id="imagesColR">
                            {{projectChosen.code14Description}}
                        </div>
                        <div *ngIf="projectChosen.code15" class="row text-center" id="screenshotRow2">                    
                            <div class="col-sm-6 justify-content-center align-self-center" id="imagesColL">
                                {{projectChosen.code15Description}}
                            </div>
                            <div class="col-sm-6" id="imagesCol">
                                <img src="{{projectChosen.code15}}" alt="" id="projectImg"> 
                            </div>
                        </div>
                        <div *ngIf="projectChosen.code16" class="row text-center" id="screenshotRow">                    
                            <div class="col-sm-6" id="imagesCol">
                                <img src="{{projectChosen.code16}}" alt="" id="projectImg"> 
                            </div>
                            <div class="col-sm-6 justify-content-center align-self-center" id="imagesColR">
                                {{projectChosen.code16Description}}
                            </div>
                            <div *ngIf="projectChosen.code17" class="row text-center" id="screenshotRow2">                    
                                <div class="col-sm-6 justify-content-center align-self-center" id="imagesColL">
                                    {{projectChosen.code17Description}}
                                </div>
                                <div class="col-sm-6" id="imagesCol">
                                    <img src="{{projectChosen.code17}}" alt="" id="projectImg"> 
                                </div>
                            </div>
                            <div *ngIf="projectChosen.code18" class="row text-center" id="screenshotRow">                    
                                <div class="col-sm-6" id="imagesCol">
                                    <img src="{{projectChosen.code18}}" alt="" id="projectImg"> 
                                </div>
                                <div class="col-sm-6 justify-content-center align-self-center" id="imagesColR">
                                    {{projectChosen.code18Description}}
                                </div>
                                <div *ngIf="projectChosen.code19" class="row text-center" id="screenshotRow2">                    
                                    <div class="col-sm-6 justify-content-center align-self-center" id="imagesColL">
                                        {{projectChosen.code19Description}}
                                    </div>
                                    <div class="col-sm-6" id="imagesCol">
                                        <img src="{{projectChosen.code19}}" alt="" id="projectImg"> 
                                    </div>
                                </div>
                                <div *ngIf="projectChosen.code20" class="row text-center" id="screenshotRow">                    
                                    <div class="col-sm-6" id="imagesCol">
                                        <img src="{{projectChosen.code20}}" alt="" id="projectImg"> 
                                    </div>
                                    <div class="col-sm-6 justify-content-center align-self-center" id="imagesColR">
                                        {{projectChosen.code20Description}}
                                    </div>
                                    <div *ngIf="projectChosen.code21" class="row text-center" id="screenshotRow2">                    
                                        <div class="col-sm-6 justify-content-center align-self-center" id="imagesColL">
                                            {{projectChosen.code21Description}}
                                        </div>
                                        <div class="col-sm-6" id="imagesCol">
                                            <img src="{{projectChosen.code21}}" alt="" id="projectImg"> 
                                        </div>
                                    </div>
                                    <div *ngIf="projectChosen.code22" class="row text-center" id="screenshotRow">                    
                                        <div class="col-sm-6" id="imagesCol">
                                            <img src="{{projectChosen.code22}}" alt="" id="projectImg"> 
                                        </div>
                                        <div class="col-sm-6 justify-content-center align-self-center" id="imagesColR">
                                            {{projectChosen.code22Description}}
                                        </div>
                                        <div *ngIf="projectChosen.code23" class="row text-center" id="screenshotRow2">                    
                                            <div class="col-sm-6 justify-content-center align-self-center" id="imagesColL">
                                                {{projectChosen.code23Description}}
                                            </div>
                                            <div class="col-sm-6" id="imagesCol">
                                                <img src="{{projectChosen.code23}}" alt="" id="projectImg"> 
                                            </div>
                                        </div>
                                        <div *ngIf="projectChosen.code24" class="row text-center" id="screenshotRow">                    
                                            <div class="col-sm-6" id="imagesCol">
                                                <img src="{{projectChosen.code24}}" alt="" id="projectImg"> 
                                            </div>
                                            <div class="col-sm-6 justify-content-center align-self-center" id="imagesColR">
                                                {{projectChosen.code24Description}}
                                            </div>
                                            <div *ngIf="projectChosen.code25" class="row text-center" id="screenshotRow2">                    
                                                <div class="col-sm-6 justify-content-center align-self-center" id="imagesColL">
                                                    {{projectChosen.code25Description}}
                                                </div>
                                                <div class="col-sm-6" id="imagesCol">
                                                    <img src="{{projectChosen.code25}}" alt="" id="projectImg"> 
                                                </div>
                                            </div>
                </div>
            </div>
          </div>
      </div> 

</div> -->

</div>
     

