#top {
    background-color: #56aebd;
    margin: 0;
    text-align: right !important;
    padding-right: 16;    
}

#navItem {
    color: #000 !important;
    font-size: 1.5em !important;
    margin-left: 35px;
    margin-right: 35px;
}

#hamburgerButton {
    background-color: #000 !important;
    color: #f00 !important;
    z-index: 0;
    margin-right: 10px
}

#containerNavId {
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
    z-index: 100;
}

.material-symbols-outlined.nav {
    font-size: 36px;
    color: #000;  
}

.material-symbols-outlined.nav:hover {
    color: #fff;  
}

.navMsg {
    font-size: 22px;
    color: #000;  
    font-weight: bold;
    font-family: 'Roboto Mono', monospace !important;
}

@media screen and (max-width: 765px) {
   .navMsg {
    display: none;
   }
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}