<div class="col mb-3">
<div class="card h-100">

    <div class="view overlay">
      <img class="card-img-top" src="{{project.picture}}" alt="screenshot">  
    </div>

    <div class="card-body">

      <div class="row text-center">
        <div class="col-sm-9">
          <h4 class="card-title" id="projectTitle">{{project.title}}</h4> 
        </div>
        <div class="col-sm-3" id="liveBtn">            
          <img src="{{project.stamp}}" alt="stamp" id="stamp">
        </div>
      </div>

      
      
      <p class="card-text" id="projectSummary">{{project.summary}}</p>
      <br>
      <div class="row text-center">
        <div class="col-sm-6">
            <button [routerLink]="['/projects', project.id]">See More</button>
        </div>
        <div class="col-sm-6" id="liveBtn">            
            <button><a href="{{project.url}}" target="_blank">Live Project</a></button>
        </div>
      </div>
    
    </div>

  </div>
</div>
