<div class="view" id="header" >
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4">
      <div class="mask rgba-gradient align-items-center">
        <div class="container">
          <div class="row">
            <div class="overlay"></div>
            <div class="container">
               <div class="text-left text-white">
                   <h1 class="titleHeader">Dan Willis </h1>  
                   <br>
                   <p>Full stack junior developer.
                      <!-- <br>Preference towards backend.  -->
                      <br> Main languages: </p>
                   <ul>
                       <li>JavaScript</li>
                       <li>Python</li>
                       <li>Java</li>
                   </ul>
                   <br>
                   <app-button backgroundColor="#56aebd" textColor="#fff" borderColor="#fff" text="See Projects!" routerLink="/projects"></app-button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-7" id="picOverlay">
      <img src="../../../assets/images/overlay/coding.png" alt="" id="overlayImg">
    </div>
  </div>

   
  </div>
  
  <app-about></app-about>
  <app-projects></app-projects>
  